<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="defaultStatementTimeout" value="120"/>
        <setting name="defaultFetchSize" value="100"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
    <typeAliases>
        <typeAlias
                alias="Website"
                type="com.joybean.yogg.website.Website"/>
        <typeAlias
                alias="TaskReport"
                type="com.joybean.yogg.report.TaskReport"/>
        <typeAlias
                alias="SMSSendingRecord"
                type="com.joybean.yogg.report.record.SMSSendingRecord"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/WebsiteMapper.xml"/>
        <mapper resource="mapper/SMSSendingRecordMapper.xml"/>
        <mapper resource="mapper/ReportMapper.xml"/>
    </mappers>
</configuration>